import { Outlet<% if (addOnEnabled.start) { %>
, HeadContent, Scripts<% } %>, <% if (addOnEnabled["tanstack-query"]) { %>createRootRouteWithContext<% } else { %>createRootRoute<% } %> } from '@tanstack/react-router'
import { TanStackRouterDevtools } from '@tanstack/react-router-devtools'
<% if (addOns.length) { %>
import Header from '../components/Header'
<% } %><% for(const integration of integrations.filter(i => i.type === 'layout' || i.type === 'provider')) { %>
import <%= integration.name %> from "../<%= integration.path %>";
<% } %>
<% if (addOnEnabled.start) { %>
import appCss from '../styles.css?url'
<% } %><% if (addOnEnabled["tanstack-query"]) { %>
import type { QueryClient } from '@tanstack/react-query'
<% if (addOnEnabled.tRPC) { %>
import type { TRPCRouter } from '@/integrations/trpc/router'
import type { TRPCOptionsProxy } from '@trpc/tanstack-react-query'
<% } %>

interface MyRouterContext {
  queryClient: QueryClient
  <% if (addOnEnabled.tRPC) { %>
  trpc: TRPCOptionsProxy<TRPCRouter>
  <% } %>
}<% } %>
  
export const Route = <% if (addOnEnabled["tanstack-query"]) { %>createRootRouteWithContext<MyRouterContext>()<% } else { %>createRootRoute<% } %>({
<% if (addOnEnabled.start) { %>
    head: () => ({
    meta: [
      {
        charSet: 'utf-8',
      },
      {
        name: 'viewport',
        content: 'width=device-width, initial-scale=1',
      },
      {
        title: 'TanStack Start Starter',
      },
    ],
    links: [
      {
        rel: 'stylesheet',
        href: appCss,
      },
    ],
  }),
<% } %>
  component: () => (
<% if (addOnEnabled.start) { %><RootDocument><% } else { %><><% } %>
  <% for(const integration of integrations.filter(i => i.type === 'provider')) { %>
    <<%= integration.name %>>
  <% } %>
  <% if (addOns.length) { %>
    <Header />  
  <% } %>
      <Outlet />
      <TanStackRouterDevtools />
      <% for(const integration of integrations.filter(i => i.type === 'layout')) { %>
        <<%= integration.name %> />
      <% } %>
    <% for(const integration of integrations.filter(i => i.type === 'provider').reverse()) { %>
      </<%= integration.name %>>
    <% } %>
<% if (addOnEnabled.start) { %></RootDocument><% } else { %></><% } %>
  ),
})

<% if (addOnEnabled.start) { %>
function RootDocument({ children }: { children: React.ReactNode }) {
  return (
    <html lang="en">
      <head>
        <HeadContent />
      </head>
      <body>
        {children}
        <Scripts />
      </body>
    </html>
  )
}
<% } %>
